// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.task-form{
    max-width: 600px;
    margin: 0 auto;
}

.task-form .tags{
    min-width: 400px;
}